src/main/conf/res/schema/SwarmComposition.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="Swarm">
    <xs:sequence>
      <xs:element name="SwarmMember" type="SwarmMember" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="SwarmMember">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="launchFile" use="required"/>
        <xs:attribute type="xs:integer" name="number" use="optional" default="1"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
</xs:schema>